body{
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  text-align: center;
}
.card-box{
  width: 25%;
  margin: 0 auto;
  background-color: white;
  position: relative;
}
.pattern-card{
width: 100%;
  display: block;
}
.image-card{
  display: block;
  border: solid white 5px;
  border-radius: 50%;
  margin: 0 auto;
}
